<% content_for :head do %>
    <%= stylesheet_link_tag "index.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "fa.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "after.css", "data-turbo-track": "reload" %>
<% end %>
<!--div id="background-boxes"></div-->
<div class="wrapper">
<canvas id="bubble"></canvas>
    <header>
        <%= image_tag("background-svg.svg", class: "background-svg parallax", alt: "Background") %>
        <%= image_tag("layer-1-svg.svg", class: "layer-1-svg parallax", alt: "Layer 1") %>
        <%= image_tag("layer-2-svg.svg", class: "layer-2-svg parallax", alt: "Layer 2") %>
        <%= image_tag("layer-3-svg.svg", class: "layer-3-svg parallax", alt: "Layer 3") %>
        <%= image_tag("layer-4-svg.svg", class: "layer-4-svg parallax", alt: "Layer 4") %>
        <%= image_tag("foreground-svg.svg", class: "foreground-svg parallax", alt: "Foreground") %>
        <div>
            <h1 class="title cursive bold small">welcome to</h1>
            <h1 class="title">Emile Bangma</h1>
            <h1 class="title small">portfolio</h1>
            <h1 class="title point-down"><i class="fa fa-arrow-down"></i><h1>
        </div>
    </header>
    <section class="grid-center">
        <div class="center">
            <div id="card">
                <div id="banner-top"></div>
                <div id="banner">
                    <div id="banner-left"></div>
                    <div id="banner-right"></div>
                </div>
                <%= image_tag("emile-small.webp", id: "profile-picture", alt: "Profile picture") %>
                <h1 id="name">Emile Bangma</h1>
                <div id="typewriter-container">
                    <p class="css-replace-text" aria-label="Hi! I'm a developer">Hi! I'm a&nbsp;<span class="hidden">developer</span><span class="typewriter"></span></p>
                </div>
                <p id="icons"><a href="https://github.com/saberzero1" name="GitHub profile page" target="_blank" class="index-link" rel="noreferrer"><i class="fa fa-2x fa-github" title="GitHub Profile Page" name="GitHub Profile Page"></i></a><span class="space"></span><a href="https://www.linkedin.com/in/emilebangma/" title="LinkedIn profile page" name="LinkedIn profile page" class="index-link" target="_blank" rel="noreferrer"><i class="fa fa-2x fa-linkedin" name="LinkedIn Profile Page"></i></a><span class="space"></span><a href="https://www.instagram.com/ewjbangma/" title="Instagram profile page" name="Instagram profile page" class="index-link" target="_blank" rel="noreferrer"><i class="fa fa-2x fa-instagram" name="Instagram Profile Page"></i></a></p>
                <div class="fifty">
                    <div class="right-border"><a class="link index-link" href="#" class="index-link" name="CV">DOWNLOAD CV<span class="space"></span><i class="fa fa-download"></i></a></div>
                    <div><a class="link index-link" href="mailto:contact@emilebangma.com" name="Mail Address">CONTACT ME<span class="space"></span><i class="fa fa-envelope"></i></a></div>
                </div>
            </div>
            <div id="container">
                <div class="content">
                    <h2 class="content-title">About Me</h2>
                </div>
                <hr>
                <div class="content">
                    <div class="content-fifty">
                        <div class="right-border-content">
                            <p class="left-text">Hello! I'm Emile Bangma.</p>
                            <p class="left-text">I'm a Computer Science student at Utrecht University.</p>
                            <p class="left-text">I have a <%= link_to 'blog', articles_url, class: "orange-link" %>.</p>
                        </div>
                        <hr class="clear-content">
                        <div>
                            <span class="text-box">Age</span><p class="right-text inline" id="ageNumber"><%= (Time.now.to_fs(:number).to_i - Date.parse("1998-01-20").to_time.to_fs(:number).to_i)/10e9.to_i %></p>
                            <hr class="clear">
                            <span class="text-box">Residence</span><p class="right-text inline">Netherlands</p>
                            <hr class="clear">
                            <span class="text-box">Address</span><p class="right-text inline">Utrecht</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="content">
                    <h2 class="content-title">Education</h2>
                    <hr>
                    <div class="timeline">
                    <div class="timeline-container timeline-right">
                        <div class="timeline-content">
                            <h3>2022 - Present</h3>
                            <p>MSc Computing Science</p>
                            <p>Utrecht University</p>
                        </div>
                    </div>
                    <div class="timeline-container timeline-right">
                        <div class="timeline-content">
                            <h3>2018 - 2022</h3>
                            <p>BSc Computer Science</p>
                            <p>Utrecht University</p>
                        </div>
                    </div>
                </div>
                </div>
                <hr>
                <div class="content">
                    <h2 class="content-title">Work Experience</h2>
                    <hr>
                    <div class="timeline">
                    <div class="timeline-container timeline-right">
                        <div class="timeline-content">
                            <h3>2017</h3>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>
                    <div class="timeline-container timeline-right">
                        <div class="timeline-content">
                            <h3>2016</h3>
                            <p>Lorem ipsum..</p>
                        </div>
                    </div>
                </div>
                </div>
                <hr>
                <div class="content">
                    <h2 class="content-title">Projects</h2>
                    <hr>
                    <div class="timeline">
                        <div class="timeline-container timeline-right">
                            <div class="timeline-content">
                                <a href="https://github.com/UU-tracktech/tracktech" target="_blank" rel="noreferrer"><img align="center" class="svg" src="https://github-readme-stats.vercel.app/api/pin/?username=UU-tracktech&repo=tracktech&bg_color=31313A&hide_border=true&icon_color=f99502&text_color=9c9ca1&title_color=f99502" alt="Real-time tracking of objects on multiple cameras"/></a>
                            </div>
                        </div>
                </div>
                </div>
                <hr>
                <div class="content">
                    <a href="https://github.com/saberzero1" target="_blank" rel="noreferrer"><img class="svg" src="https://github-readme-stats.vercel.app/api?username=saberzero1&show_icons=true&count_private=true&include_all_commits=true&bg_color=31313A&hide_border=true&icon_color=f99502&text_color=9c9ca1&title_color=f99502&" alt="GitHub Stats"></a>
                </div>
                <hr>
                <div class="content">
                    <a href="https://github.com/saberzero1" target="_blank" rel="noreferrer"><img class="svg" src="https://github-readme-streak-stats.herokuapp.com/?user=saberzero1&background=31313A&stroke=31313A&hide_border=true&icon_color=f99502&currStreakNum=9c9ca1&title_color=f99502&sideNums=9C9CA1&sideLabels=f99502&dates=9c9ca1" alt="GitHub Streak"></a>
                </div>
                <hr>
                <div class="content">
                    <a href="https://github.com/saberzero1" target="_blank" rel="noreferrer"><img class="svg" src="https://github-readme-stats.vercel.app/api/top-langs/?username=saberzero1&theme=gruvbox&langs_count=10&layout=compact&bg_color=31313A&hide_border=true&icon_color=f99502&text_color=9c9ca1&title_color=f99502&hide=jupyter%20notebook" alt="GitHub Language Stats"></a>
                </div>
                <p class="copy">
                    &copy; <%= DateTime.now.year %> Emile Bangma
                </p>
            </div>
        </div>
    </section>
    <script>
    var w = window.innerWidth,
        h = window.innerHeight,
        canvas = document.getElementById('bubble'),
        ctx = canvas.getContext('2d'),
        rate = 60,
        arc = 100,
        time,
        count,
        size = 7,
        speed = 20,
        lights = new Array,
        colors = ['#ff9800','#f46a49','#cc5168','#924970', '#58415f', '#31313a', '#1c1c21'];

    canvas.setAttribute('width',w);
    canvas.setAttribute('height',h);

    function init() {
    time = 0;
    count = 0;

    for(var i = 0; i < arc; i++) {
        lights[i] = {
        x: Math.ceil(Math.random() * w),
        y: Math.ceil(Math.random() * h),
        toX: Math.random() * 5 + 1,
        toY: Math.random() * 5 + 1,
        c: colors[Math.floor(Math.random()*colors.length)],
        size: Math.random() * size
        }
    }
    }

    function bubble() {
    ctx.clearRect(0,0,w,h);

    for(var i = 0; i < arc; i++) {
        var li = lights[i];
        
        ctx.beginPath();
        ctx.arc(li.x,li.x,li.size,0,Math.PI*2,false);
        ctx.fillStyle = li.c;
        ctx.fill();
        
        li.x = li.x + li.toX * (time * 0.05);
        li.y = li.y + li.toY * (time * 0.05);
        
        if(li.x > w) { li.x = 0; }
        if(li.y > h) { li.y = 0; }
        if(li.x < 0) { li.x = w; }
        if(li.y < 0) { li.y = h; }
    }
    if(time < speed) {
        time++;
    }
    timerID = setTimeout(bubble,1000/rate);
    }
    init();
    bubble(); 

    function resizedw() {
        if (canvas.width !== w || canvas.height !== h) {
            var canvas = document.getElementById("bubble");
            w = window.innerWidth;
            h = window.innerHeight;
            canvas.setAttribute('width',w);
            canvas.setAttribute('height',h);
            ctx.clearRect(0, 0, w, h);
            init();
            bubble(); 
        }
    }

    var resizecanvas;

    function resetcanvas() {
        clearTimeout(resizecanvas);
        resize = setTimeout(resizedw, 100);
    };

    window.addEventListener('resize', resetcanvas);
    </script>
</div>
