<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Emile Bangma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= javascript_include_tag "rails-ujs" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png"/>
    <link rel="manifest" href="manifest.webmanifest"/>
    <meta name="theme-color" content="#ff9800"/>
    <meta name="description" content="CV/Portfolio/Blog. Computer Science student at Utrecht University"/>
    <meta name="application-name" content="Emile Bangma - Portfolio"/>
    <meta name="author" content="Emile Bangma"/>
    <meta name="google-site-verification" content="oyMdQurJrc767onv29mKYog6BKX0lN03t9Yuq3p2zC0" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <% unless current_page?('/') %>
    <div class="body-container">
      <%= yield %>
    </div>
    <% else %>
      <%= yield %>
    <% end %> 
  </body>
</html>
